
/* app/static/css/styles.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #50b3a2;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #ffffff;
    font-weight: bold;
}

.upload-form, .results {
    background: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #dcdcdc;
}


input[type="submit"]:hover {
    background: #333;
    cursor: pointer;
}

input[type="file"] {
    margin-bottom: 10px;
}

input[type="file"], input[type="submit"] {
    font-size: 30px; 
    padding: 30px; 
    margin-top: 10px;
    box-sizing: border-box;
}

.file-upload-container {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    flex-wrap: wrap;
}

.file-upload-container input[type="file"],
.file-upload-container input[type="submit"] {
    margin-right: 10px; 
    flex-shrink: 0;
}

img {
    max-width: 100%;
    display: block;
    margin-bottom: 10px;
}

a {
    color: #e8491d;
    text-decoration: none;
}

a:hover {
    color: #333;
}


.animal-name {
    cursor: pointer;
    color: #337ab7;
    font-size: 30px; 
}

.animal-name:hover {
    text-decoration: underline;
}

.info-sandbox {
    margin-top: 20px;
    border: 1px solid #ddd;
    background-color: #fafafa;
    padding: 20px;
    min-height: 100px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* styles.css */

.header-background {
    background-image: url('../images/wildlife.jpeg');
    background-size: cover;
    background-position: center;
    min-height: 600px; 
}


.header-background h1 {
    color: #fff; 
    padding-top: 50px; 
    text-align: center;
    font-size: 90px;
}

.instructions-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.info-sandbox {
    flex: 1;
    margin-right: 10px; 
}


.instructions-container .info-sandbox:last-child {
    margin-right: 0;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    margin-top: 20px;
}

.image-container,
.info-sandbox {
    width: 48%; 
}

.image-container img {
    max-width: 100%; 
    height: auto; 
    object-fit: contain; 
}

.info-sandbox {
    display: flex;
    margin-top: 20px;
    border: 1px solid #ddd;
    background-color: #fcd857;
    padding: 20px;
    align-items: center; 
    justify-content: center; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.info-sandbox * {
    font-size: 30px; 
}

.image-container,
.text-container {
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    object-fit: contain; 
}

.text-container {
    padding: 0 20px; 
}

.text-container {
    overflow-y: auto;
}

.info-sandbox {
    flex-grow: 1; 
}


.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.horizontal-info-boxes {
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start;
    flex-wrap: wrap; 
    gap: 20px; 
    font-size: 30px;
}


.horizontal-info-boxes .about-box,
.horizontal-info-boxes .purpose-box,
.horizontal-info-boxes .resources-box {
    flex: 1; 
    min-width: 250px; 
    padding: 20px; 
    border: 1px solid #44f56a; 
    background-color: #e0fab0; 
}


.horizontal-info-boxes .about-box > *,
.horizontal-info-boxes .purpose-box > *,
.horizontal-info-boxes .resources-box > * {
    margin-top: 10px; 
}

.site-footer {
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 60px 0; 
    margin-top: 40px; 
    width: 100%; 
    bottom: 0; 
}

.site-footer p {
    margin: 0; 
    font-size: 30px; 
}
